@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");


#title-section
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  padding-bottom: 20vh;
  color: white;
}

#profile-pic
{
  width:  calc(64px + 9vw);
  border: 0.5rem solid #fff;
  border-radius: 15rem;
  -webkit-box-shadow: 0.2rem 0.3rem 0.8rem 0.3rem rgba(0,0,0,0.3);
  -moz-box-shadow: 0.2rem 0.3rem 0.8rem 0.3rem rgba(0,0,0,0.3);
  box-shadow: 0.2rem 0.3rem 0.8rem 0.3rem rgba(0,0,0,0.3);
}

#profile-icons
{
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #profile-icons
  {
      width: 100%;
  }
}

#profile-icons a
{
    text-decoration: none;
    font-size: calc(0.8rem + 1vw);
    background: white;
    border-radius: 2rem;
    padding: 0.8rem;
    transition: 0.5s;
    margin: 0.2rem;
}

#profile-icons a:hover
{
    background: transparent;
    color: white!important;
    font-size: calc(1.2rem + 1vw);
    padding: 0.4rem;
}

.button
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 0.1rem solid white;
    padding: 0.5rem 1rem;
    font-size: calc(0.7rem + 0.7vw);
    border-radius: 1.8rem;
    margin-top: 1rem;
    transition: 0.5s;
    font-weight: 800;
}

.button:hover
{
    background-color: white;
    color: #667db6;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  max-height: 100vh;
  animation: colorchange 15s infinite;
  animation-delay: 0;
  animation-timing-function: ease-in;
  -webkit-animation: colorchange 15s infinite;

}

h1, h2, h3, h4, h5, h6
{
    margin: 0.3rem;
}

h1
{
  font-size: calc(2rem + 2.5vw);
  font-weight: 900;
}

h6
{
  font-size: calc(0.8rem + 1.2vw);
  font-weight: 600;
  line-height: 110%;
}


@keyframes colorchange
{
  0%   {background: #667db6;}
  50%  {background: #0082c8;}
  100%  {background: #667db6;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #667db6;}
  50%  {background: #0082c8;}
  100%  {background: #667db6;}
}
